@import "./style_utils/utils";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: $text-color;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.App {
  color: $text-color;
}