@import "../../style_utils/utils";

.TickerItem {
  width: 100%;
  padding: 7px;
  max-width: 550px;

  display: flex;
  justify-content: start;
  align-items: end;

  background-color: $light-gray;
  border: 1px solid $gray;
  border-radius: 5px;
  color: $text-color;

  transition: all .3s ease;

  &:hover {
    background-color: $gray;
  }

  &__ind {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__exchange {
    font-size: .7rem;
    margin-left: 5px;
  }
}

