$gray: #c5cbdc80;
$light-gray: #d6ddef80;
$lighter-gray: #d3d3d3;
$green:#19A631;
$red:#CA3435;
$orange: #D38030;

$bg-color:#2e1213;
$text-color: #2a2f3c;

$block-padding: 15vw;
$header-top: 100px;
